<div class="playlist-tracks">
  <div class="playlist-page">
    <div>
      <mat-icon  (click)="addToPlaylit(tracks)">favorite_border</mat-icon>
        Add to Playlist
    </div>
  </div>
  <table>
    <tr>
      <th>#</th>
      <th> Title</th>
      <th>Album</th>
      <th>Date Added</th>
      <th>
        <mat-icon class="icon-time">access_time</mat-icon>
      </th>
    </tr>
    <tr class="tr_Trak" *ngFor="let itemsTrack of tracks">
      <td></td>
      <td>
        <img class="image-playlist-tracks" src="{{ itemsTrack.track.album.images[0].url }}">
        <span> {{itemsTrack.track.name}} -</span>
        <span *ngFor="let itemsTrackArtists of itemsTrack.track.artists">
          {{itemsTrackArtists.name}}
        </span>
      </td>
      <td> {{itemsTrack.track.album.name}}</td>
      <td>{{itemsTrack.added_at | date}}</td>
      <td>
        <mat-icon class="playlist-tracks-favorite" (click)="addToFavorits(itemsTrack.track)">favorite_border</mat-icon>
        {{itemsTrack.track.duration_ms | date:"HH:mm" }}
      </td>
    </tr>
  </table>
</div>
