.playlist-tracks {
  color: grey;

  .playlist-page {
    background-color: rgb(48, 64, 40);  
    color: #fff;
    padding: 0 32px 24px;
    height: 53vh;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    counter-reset: row-num;

    tr {
      counter-increment: row-num;
    }

    tr td:first-child::before {
      content: counter(row-num) ". ";

 
    }
  }


  td,
  th {
    text-align: left;
    padding: 8px;
  }

  .image-playlist-tracks {
    width: 50px;
    vertical-align: middle;
  }


  .playlist-tracks-favorite {
    visibility: hidden;
  }

  .icon-time {
    font-size: 20px;
    vertical-align: sub;
  }

  .tr_Trak {
    
    &:hover {
      cursor: pointer;
        background-color: #242323;
        color: white;

      .playlist-tracks-favorite {
        visibility: initial;
        display: inline-block;
        vertical-align: middle;
      }

    }
  }
}
